@use 'flex-grid';

$NavMain: rgb(20,20,20);

#navBut {
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);


    width: 5vh;
    aspect-ratio: 1/1;
    background-color: orange;
    border-radius: 100px;
    border: none;
    z-index: 6; 

    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;

    &:hover{
        scale: 0.9;
    }
}


nav{
    width: 100%;
    height: 50vh;
    position: fixed;
    bottom: -50%;
    opacity: 0;
    background-color: $NavMain;
    z-index: 5;
    transition: all 0.75s cubic-bezier(0, 0, 0, 1);
    border-top: 1px rgba(white,0.5) solid;
}

li{
    list-style: none;
}

.openNav{
    bottom: 0 !important;
    opacity: 1 !important;
}

.navMenu {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    padding: 2rem;

    .navItem{
        // width: 20%;
        height: 100%;
        a{
            color: inherit;
            text-decoration: none;
            
        }
    }
}

.innerItem{
    height: 100%;
    // background-color: lighten($black,10);
    // display: block;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    transition: all 0.1s ease-in-out;
    h3{
        text-align: center;
        padding: 0.1rem;
    }
    img{
        // padding: 0.5rem;
        height:80%;
        width: 80%;
        object-fit: cover;
        object-position: center;
        align-self: center;
        background-color: white;
    }
    &:hover{
        scale: 1.05;
        animation: borderColor 0.5s forwards;
        border: 1px lighten($NavMain,50) solid;
    }
}

@keyframes borderColor {
    from {
        border: 1px $NavMain solid;
    }
    to{
        border: 1px ligthen($NavMain,50) solid;
    }
}

.op-left{
    object-position: 5% 50% !important;
}