$banner: #010728;
$me: #000D53;
$gradient1: #00D1FF;
$gradient2: #252299;
$gradient3: #8C0000;
$white: white;

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Fira Mono';
    font-size: 24px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    width: 100%;
    background-color: $banner;
    height: 10%;
    position: fixed;
    top: 0;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: aqua;
        li{
            list-style: none;
            padding: 2rem;
        }
    }
}

header{
    width: 100%;
    height: 100vh;
}


#banner{
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerPics{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-color: black;
    z-index: -1;
    inset: 0;
    img{
        display: none;
        opacity: 0;
        width: 100%;
        object-fit: cover;
    }
}

.active{
    display: block !important;
    animation: appear 10s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.info{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, $gradient1, $gradient2, $gradient3);
}

.text{
    background-color: rgba(black, 0.35);
    border-radius: 40px;
    padding: 2rem;
    color: $white;
}

h1,h2{
    color: $gradient1;
    text-align: center;
}

h2{
    padding-bottom: 2rem;
    font-size: 1.5em
}

.name{
    width: 40%;

    h1{
        font-size: 46px;
    }
}



section{
    padding: 4rem;
}

.me{
background-color: $me;
}

.profilePic{
    width: 10%;
    height: 20%;
}