@use 'nav';
@use 'flex-grid';
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$banner: #010728;
$me: #000D53;
$gradient1: #00D1FF;
$gradient2: #252299;
$gradient3: #8C0000;
$white: white;
$black: black;

body,html{
    font-family: 'Fira Mono';
    font-size: clamp(7px, 2vw, 24px); 
    line-height: 1.5;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
}

h2{
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
}


header{
    width: 100%;
    height: 40vh;
    background-color: $banner;
    // background-image: url('../img/starPattern.png');

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    min-height: 60vh;
    background-color: blue;
    padding: 2rem;
}

.repos{
    height: 100%;
    width: 100%;
}

.outer{
    padding: 0.5rem;
    min-height: 30vh;

}

.repo{
    height: 100%;
    background-color: rgba(black, $alpha: 0.5);
    border-radius: 10px;
    padding: 1rem;

    .desc{

        &::before{
            content: 'Description: ';
            font-size: 1.1rem;
            font-weight: 600;
        }
    }

    .LatestUpdate{
        
        &::before{
            content: 'Last Updated: ';
            font-size: 1.1rem;
            font-weight: 600;
        }
    }

    .lastCommit{

        &::before{
            content: 'Latest commit: ';
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}

.ai-stretch{
    align-items: stretch !important;
}