/* .HillTops {
  position: relative;
  display: flex;
  background-color: #235347;
  overflow: hidden;

  .otherwave {
    position: absolute;
    top: 0;
    left: 0;

    &.num-1 {
      top: 10px;
    }

    &.num-2 {
      top: 20px;
    }
  }
} */

/* #welcomeBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    #welcome{
      font-size: 48px;
      margin: 0;
    }
    p{
      margin: 0;
    }
} */

@import "./pallete.css";
body::-webkit-scrollbar{ 
  display: none;
}

body{
  overflow: hidden;
  background-color: var(--Main-Color);
}

main > section:nth-child(1)
{
  top: 0;
}

/* main > section{
  position: absolute;
  top: 100%;
} */