@import "./pallete.css";
body::-webkit-scrollbar{ 
  display: none;
}

body{
  overflow: hidden;
  background-color: var(--Main-Color);
}

main > section:nth-child(1)
{
  top: 0;
}

section.Content > h1, h2 {
  text-align: center;
}