@import './pallete.css';
section.Content{
    width: 100%;
    height: 100vh;
    padding: 1rem 10rem;
    @media (max-width: 360px) {
    padding: 1rem 1rem;
    }
    background-color: var(--Main-Color);

    > * {
        color: var(--Main-Text-Color);
    }
}